<h1>Goals</h1>
<p>Set and accomplish your goals</p>

<%= link_to('Goals',{controller: 'tasks', action: 'index', page: 1}) %><br />

<!-- Rails link with parameters -->
<%= link_to('About',{action: 'about', page:5, id: 20}) %><br />
